fastapi
uvicorn
python-multipart
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
timm
Pillow
numpy
scikit-learn
opencv-python-headless
reportlab
python-dotenv
groq
sentence-transformers
faiss-cpu
pypdf
PyMuPDF
transformers
huggingface-hub
langchain-text-splitters
grad-cam