fastapi
uvicorn
python-multipart

torch
torchvision
timm
Pillow
numpy

scikit-learn
opencv-python

reportlab

python-dotenv

groq

sentence-transformers
faiss-cpu
langchain
langchain-community
pypdf

transformers
huggingface-hub